.center.jumbotron
  %h1 BJJ Training Logger
  %h2 This is the home page of Barcelona Jiu Jitsu.
  = image_tag('flag-brazil.png', alt: 'Brazil flag')
  = image_tag('flag-spain.png', alt: 'Spain flag')

