%table.table.table-hover
  %thead
    %tr
      %th
      %th Nombre 
      %th Apellido
      %th Email
      %th Faixa
      %th Role
      %th{colspan: '3'}
  %tbody
    .users
      = render @users
= will_paginate