- provide(:title, 'Editar perfil')
%h1 Editar perfil
.row
  .col-md-6.col-md-offset-3
    = form_for(@user) do |f|
      = render 'form', f: f, user: @user
      .form-actions
        = f.submit 'Actualizar', class: 'btn btn-primary'
= link_to 'Atrás', @user, class: 'btn'
